.wrapper{
    color: var(--color-white);
    padding: 0px 32px;
}

.sectionTop{
    display: flex;
    justify-content: space-between;
    .toggler{
        color: var(--color-primary);
        cursor: pointer;
    };
}

.flexWrappers{
    margin: 18px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}